{% extends 'chat/index.html' %}
{% load static %}
{% block title %}
Chatbot
{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">Chatbot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">{{request.user}}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'register' %}">Sign up</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" href="#footer">About us</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'log_out' %}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
  </nav>
  
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Chatbot</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">An AI integrated chatbot for student enrichment. </h2>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'chat' %}">Get Started</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'sign_in' %}">Get Started</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" >
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Built for student's engagement on Academic learning in each subjects.</h2>
                <p class="text-white-50">
                    This Chatbot learns from the specific subject feed data and give responses to students with it's knowledge base from the data.
                </p>
            </div>
        </div>
        <img class="img-fluid" width="100%" style=" background-blend-mode: overlay; "   src="{% static '/ipad.png' %}" alt="..." />
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" >
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center" id="about">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static '/bg-signup.jpg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>About</h4>
                    <p class="text-black-50 mb-0">This is a Portfolio page of our Chatbot. Try Chatbot for a better learning experience.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="{% static '/demo-image-01.jpg' %}" alt="..." />
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">PROS</h4>
                            <p class="mb-0 text-white-50">Enrich students engagement in academic level learning and clear the doubts to students.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6">
                <img class="img-fluid" src="{% static '/demo-image-02.jpg' %}" alt="..." />
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Chatgpt</h4>
                            <p class="mb-0 text-white-50">It is a universal learned machine which gives responses to user using it's own understanding.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5" id = "footer">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Chennai, TamilNadu, India</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">prakashrajndp@gmail.com | premkumarofficil@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">9150862881 | 8056182438</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Chatbot.com</div></footer>

{% endblock content %}